<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlphaMessanger</title>
    <link rel="stylesheet" href="/static/css/index.css">

</head>

<body>
    <div class="Border" id="OnlineUsersBox">
        <h1>Online Members</h1>
    </div>
    <div class="Border" id="Messages_box"></div>
    <div class="Border" id="Inputs">
        <div>
            <textarea  dir="auto"></textarea>
            <button onclick="sendMessage()" id="send_btn">Send</button>
        </div>
        <form method="post">
            {% csrf_token %}
            <button type="submit" id="logout_btn">Logout</button>
        </form>
    </div>
</body>
<script src="/static/javascript/index.js"></script>

</html>